{% extends 'base.html' %}
{% block head %} <title>Employee Self Service</title> {% endblock %}

{% block body %}
    <div class="container" style="text-align:center">
        <h1>Admin Section</h1>
        <table>
            <tr>
                <td><a href="/create-employee-payroll">Add Payroll Details</a></td>
                <td><a href="/employee-pay-list">Edit Payroll Details</a></td>
            </tr>

            <tr>
                <td><a href="/">Payroll Cycle</a></td>
                <td><a href="/">Reviews and Approvals</a></td>
            </tr>
        </table>
    </div>
{% endblock %}
